<!doctype html>
{% load staticfiles %}
{% load widget_tweaks %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block title %}
        <title>Ferma.kg</title>
    {% endblock %}
    {% block opengraph %}
        <meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.path }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="{{ blog_page.blog_description_text|striptags|truncatechars:150 }}"/>
        <meta property="og:image"
              content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/logo.png' %}"/>
    {% endblock %}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript">
        function CleanFunc(obj) {
            $(obj).parent().css({
                "display": "none"
            });
            $(obj).parent().siblings().removeClass('col-md-8 col-sm-8').css({
                'padding-left': 0,
            });
            $(obj).parent().siblings().find('.more_block').css({
                'padding-left': 0
            })
        }
    </script>
</head>
<body>
<div class="modal fade" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form action="{% url 'subscriber' %}" method="POST" class="subscribe_form" id="subscriber_form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_email">Email</label>
                    {% render_field subscriber_form.email class+="form-control" %}
                </div>
                <div class="form-group">
                    <label for="select_type">Выберите тип обьявления</label>
                    {% render_field subscriber_form.advert_type class+="form-control" required=False %}
                </div>
                <div class="form-group">
                    <label for="select_category">Выберите категорию</label>
                    {% render_field subscriber_form.categories class+="form-control" required=False %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Подписаться</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mobile_hamburger"><a href="#" class="closed"><i class="fa fa-bars"></i></a></div>
<div class="mobile_menu" id="mobile_menu">
    <ul class="menu_list">
        <li><a href="{% url 'main' %}">главная</a></li>
        <li><a href="{% url 'news' %}">компании</a></li>
        <li><a href="#">новости</a></li>
    </ul>
</div>
<div class="white_back">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded ferma_nav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item left_side_links">
                        <a class="nav-link" href="{% url 'main' %}">Главная<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item left_side_links">
                        <a class="nav-link" href="{% url 'news' %}">Новости<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item left_side_links">
                        <a class="nav-link" href="{% url 'companies' %}">Компании<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <a class="navbar-brand m-auto" href="{% url 'main' %}"><img src="{% static 'img/logo.png' %}"
                                                                            alt=""></a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link ad_advert" href="{% url 'ad:ad_create' %}">Добавить объявление<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'main' %}">
                            <input type="search" name="search_words" placeholder="Поиск">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% block slider %}
    <div class="container-fluid main_slider">
        {% for i in slider %}
            <div class="slider_item">
                <div class="slider_item_caption container">
                    <div class="caption_title">{{ i.title }}</div>
                    <div class="caption_subtitle">{{ i.description }}</div>
                </div>
                <img src="{{ i.image.url }}" alt="">
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block content %}
{% endblock %}
<div class="container-fluid footer_container">
    <div class="container footer">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12 left_side"></div>
            <div class="footer_content col-md-8 col-sm-12 col-xs-12 m-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 footer_cols">
                        <div class="col_content">
                            <div class="col_title">Айыл-чарба</div>
                            <div class="col_links_list">
                                <ul class="col_links p-0">
                                    <li><a href="{% url 'main' %}">Главная</a></li>
                                    <li><a href="{% url 'companies' %}">Компании</a></li>
                                    <li><a href="{% url 'news' %}">Новости</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 footer_cols">
                        <div class="col_content">
                            <div class="col_title">Контакты</div>
                            <div class="col_links_list">
                                <ul class="col_links p-0">
                                    <li><a href="#">+996 (700) 222 932</a></li>
                                    <li><a href="#">Whats App</a></li>
                                    <li><a href="#">Viber</a></li>
                                    <li><a href="#">Telegram</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 footer_cols">
                        <div class="col_content">
                            <div class="col_links_list">
                                <ul class="col_links p-0">
                                    {#                                    <li class="nav-item">#}
                                    {#                                        <a class="nav-link ad_advert" href="{% url 'ad:ad_create' %}">Добавить#}
                                    {#                                            объявление<span class="sr-only">(current)</span></a>#}
                                    {#                                    </li>#}
                                    <li class="nav-item">
                                        <form action="{% url 'main' %}">
                                            <input type="search" name="search_words" placeholder="Поиск">
                                        </form>
                                    </li>
                                    <li class="nav-item"><a href="#subscribe" class="nav-link subscribe"
                                                            data-toggle="modal" data-target="#subscribe">Подписаться на
                                        рассылку</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 right_side"></div>
        </div>
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="//cdn.ckeditor.com/4.7.1/basic/ckeditor.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#subscriber_form').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                method: 'POST',
                dataType: 'JSON',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                    $('#subscribe .modal-content').append('<h1>Вы успешно подписаны</h1>');
                        setTimeout($('#subscribe .modal-content h1').fadeOut('slow'), 1000);
                        setTimeout($('#subscribe').modal('hide'), 1000);
                    }
                },
                error: function () {
                    $('#subscribe .modal-content').append('<h1>Эта почта уже используется</h1>');
                    setTimeout($('#subscribe .modal-content h1').fadeOut('slow'), 2000);
                }
            })
        });
    });

</script>
{% block custom_scripts %}
{% endblock %}
</body>
</html>