{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>{{ news.title }}</title>
{% endblock %}
{% block opengraph %}
    <meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.path }}"/>
    <meta property="og:type" content="website"/>

    <meta property="og:image"
          content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ news.preview.url }}"/>
    <meta property="og:description" content="{{ news.text|striptags|truncatechars:150 }}"/>
{% endblock %}
{% block slider %}
{% endblock %}
{% block content %}
    <div class="news_preview">
        <img src="{{ news.preview.url }}" alt="">
    </div>
    <div class="container-fluid news_fluid">
        <div class="container news_container">
            <h1 class="news_title">{{ news.title }}</h1>
            <div class="post_describe_text">{{ news.text|safe }}</div>
            <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
            <script src="//yastatic.net/share2/share.js"></script>
            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,whatsapp,telegram"
                 data-image="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ news.preview.url }}"></div>
        </div>

    </div>
{% endblock %}