<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<b>На нашем сайте появилось новое объявление которое возможно будет вам интересно</b>
<b>Вот <a href="{{ BASE_URL }}{% url 'ad:ad_detail' advert.slug %}">ссылка</a> на это объявление</b>
</body>
</html>